
/* Header */

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 1;
}

h1 {
  margin: 20px 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav span {
  display: inline-block;
  flex-grow: 1;
  padding: 20px 10px;
}

a {
  color: black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: MediumAquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

/* Main Container */

body {
  margin: 0
  display: block;
}

div {
  display: block;
  border: 1px solid black;
}

p {
  display: block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 16px;
}

.main {
  display: flex;
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 75px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.articles {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.text.content {
  height: 250px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.img-story-main {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
  width: 630px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.img-story-2.snippet {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
}

.img-story-3.snippet {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
}

.img-story-1.snippet {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
}

.snippet {
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
