
/* Universal Styles */



/* Header */

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
}

h1 {
  margin: 20px 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav span {
  display: inline-block;
  flex-grow: 1;
  padding: 20px 10px;
}

a {
  color: black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: MediumAquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

/* Main Container */

body {
  margin: 0;
}

div {
  border: 1px solid black;
}

.main {
  display: flex;
  width: 1200px;
  position: relative;
  top: 75px;
  margin: 0 auto 75px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
