
/* Universal Styles */



/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
}

h1 {
  margin: 20px 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  margin: 0 30px;
}

span {
  display: inline-block;
  flex-grow: 1;
  margin: 10px;
}

span a {
  color: black;
}

.logo {
  display: inline-flex;
  flex-grow: 2;
  margin: 10px 15px;
  color: MediumAquamarine;
}

/* Main Container */

div {
  border: 2px solid black;
}

.main {
  display: flex;
  justify-content: flex-start;
}

.column {
  display: inline-flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
